:root {
  --primary-color: darkblue;
  --secondary-color: lightblue;
  --tertiary-color: white;
  --quaternary-color: black;
  --quinary-color: grey;
}

h1 {
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

h3 {
  color: var(--quaternary-color);
  font-size: medium;
}

p {
  color: var(--quinary-color);
  font-size: small;
}

#memory{
  margin: top 10%; 
}

#days{
  margin: top 10%;
  display: none; 
}

#five-day{
  display: none;
}